# PostgreSQL Database Connection String
# Replace user, password, host, port, and dbname with your PostgreSQL credentials
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/travelstar?schema=public"

# JWT Secret for Auth Authentication
JWT_SECRET="super_secret_jwt_key_travelconnect_12345"

# Server Port
PORT=5000

# Environment
NODE_ENV="development"
